<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--数据库信息 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql:///ssl</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>

		<!--hibernate可选项 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- 映射类 -->
		<mapping class="com.ucas.iscas.renlin.pojo.Endpoint" />
		<mapping class="com.ucas.iscas.renlin.pojo.Host" />
		<mapping class="com.ucas.iscas.renlin.pojo.Endpointdetails" />
		<!-- <mapping class="com.ucas.iscas.renlin.pojo.Cert" />
		<mapping class="com.ucas.iscas.renlin.pojo.Key" />
		<mapping class="com.ucas.iscas.renlin.pojo.Simclient" />
		<mapping class="com.ucas.iscas.renlin.pojo.Chaincert" />
		<mapping class="com.ucas.iscas.renlin.pojo.Simulation" />
		<mapping class="com.ucas.iscas.renlin.pojo.Hstspreload" />
		<mapping class="com.ucas.iscas.renlin.pojo.Suites" />
		<mapping class="com.ucas.iscas.renlin.pojo.Protocol" />
		<mapping class="com.ucas.iscas.renlin.pojo.Chain" />
		<mapping class="com.ucas.iscas.renlin.pojo.Suite" />
		<mapping class="com.ucas.iscas.renlin.pojo.Simdetails" />
		<mapping class="com.ucas.iscas.renlin.pojo.Hpkppolicy" />
		<mapping class="com.ucas.iscas.renlin.pojo.Hstspolicy" /> -->
        <mapping class="test.com.ucas.iscas.renlin.pojo.Grade" />
		<mapping class="test.com.ucas.iscas.renlin.pojo.Student" />
	</session-factory>
</hibernate-configuration>